/.cache
/node_modules
*.log
/errors
/test.js
/test.ts
/test.css
/.vscode
/dist
.DS_Store
coverage
/.idea
/test-results
craco-less-*.tgz

# Yarn without Zero Install
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions